.landingPage {
  min-height: 100vh;
  background-color: #f7f7f9;
}

.div-initial{ 
  display: flex;
  justify-content: space-around;
  height: 65vh;
  padding: 2rem;
}

.info {
  min-width: 30%;
  max-width: 35%;
  padding: 2rem;
}

.stocks-card {
  min-width: 45%;
  max-width: 47%;
}

/* bienvenida */
.home-title{
  color:#13151C;
  font-size:38px;
  font-weight:800;
  margin: 0;
}

.home-text{
  color:#6A6C75;
  font-size:24px;
}

/* botón */
.see-more-btn{
  margin-top: 5rem;
  height: 3rem;
  width: 20%;
  font-size: 18px;
  background-color: #232733;
  border: none;
  color:#ffffff;            
  cursor:pointer;
}

.see-more-btn:hover{
  background:#ffffff;
  border: 1px solid #232733;
  color:#232733;            
}



@media (max-width:900px){
  .home-content{ flex-direction:column; }
  .home-aside{ width:auto; flex:unset; }
}
