.div-individaulPortfolio {
  display: flex;
  justify-content: space-around;
  height: 90vh; 
  overflow: hidden; 
  background: #f7f7f9;
  padding: .5rem 2rem 2rem 2rem;
  
}

.left-div {
  height: 100%;
  width: 25%;
  padding: 1rem 0 0 0;
  overflow: hidden;
  background: #f7f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Para que el link quede alineado a la izquierda */
}

.return-btn-portfolio {
  display: inline-block;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  color: #021631;
}


.right-div {
  width: 70%;
  padding: 2rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f7f7f9;
  display: flex;
  flex-direction: column;
}
