.optionsContainer.no-carousel{
  position: sticky;
  top: 40px;
  z-index: 80;
  width: 100%;
  background-color: #f7f7f9;
  /* background: #fff; */
  border-bottom: 1px solid #eee;
}


.optionsRow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 1.5rem;
  height: 4rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: thin;
  font-size: 17px;
}


.optionLink{ text-decoration: none; }
.optionButton{
  background: transparent;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 17px;
  color: #13151C;
  border-radius: 10px;
  transition: background .2s, color .2s, transform .2s;
}

.optionButton:hover{
  background-color: #232733;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  transform: translateY(-2px);
}

.optionButton svg {
  font-size: 18px;
}

.optionIcon{ font-size: 18px; }
.optionName{ white-space: nowrap; }
