.div-table-container {
  overflow-x: auto;
  background-color: #fff;
  border-radius: 10px;
}

.div-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.div-table-header {
  padding: 12px;
  border-bottom: 2px solid #ededf2;
  text-align: left;
  color: #828692;
  font-weight: 500;
  background-color: transparent;
}

.div-table-cell {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.div-a {
  text-decoration: none;
  color: #111827;
  display: inline-block;
  width: 100%;
}

.div-a.userId {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 50%;
  font-size: 18px;
  /* background-color: #232733; */
  font-weight: 500;
  color: #232733;
  margin-right: 0;
}



.div-user-name {
  font-weight: bold;
  color: #232733;
}

.div-user-username {
  font-size: 0.85rem;
  color: #6b7280;
}

.div-button-deactivate {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  background: #646c79;
  color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
}

.div-button-deactivate:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
