.div-purchaseSale {
    min-height: 100vh;
    background-color: #f7f7f9;
}

.info-purchaseSale {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem  2rem 2rem 2rem;
}

.title-history {
    font-size: 22px;
    font-weight: 500;
    margin: 1rem 0 1.5rem 0;
}

    
.summary-div-transactions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}

.div-grafics-portfolio {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    height: 70vh;
    padding: 1rem;
}

.div-grafics {
    height: 100%;
    width: 100%;
}

.title-purchaseSale {
    font-weight: 500;
}

.div-portfolio{ 
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 15px;
}

.title_transactions {
  font-size: 22px;
  font-weight: 500;
  margin-top: 3rem;
}

.div-filter {
  position: absolute;
  top: 65%;
  right: 20%;
  width: 50%;
  margin-top: 19rem;
}

.transactions-header {
    display: flex;
    flex-direction: row;
}
